@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, h1{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

Body {
    margin: 0;
    padding: 0;
    background-color: #ed1e79;
    /* overflow: hidden; */
}

/* Hide scroll but keep the functionality */

.bodyScroll::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main {
    width: 50vw;
    margin: auto;
}


/* Typography */
h1{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-size: 133px;
    font-weight: 300;
}


h2 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 42px;
    font-style: normal;
    text-align: center;
    color: #fff;
}

p {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    color: #fff;
}

/* Hero-image */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/ozio_office_bw.jpg);
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #fff;
}

.hero-ozio-style {
    color: #ed1e79;
    font-weight: 900;
}

.ozio-style {
    color: #ffffff;
    font-weight: 900;
}

.dot {
    color: #ed1e79;
}

/* Logo */

.logo {
    flex: 0;
    margin-right: auto;
    margin-left: 10px;
    padding: 0;
}

.logo img {
    max-height: 50px; 
}



/* Navigation */

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);;
}


.navbar ul{

    display: flex;
    list-style: none;
    gap: 15px;
    margin-left: auto;
    margin-right: 40px;
    padding: 0;
    
}

.navbar li {
    display: inline-block;
    
}


.navbar ul li a{
    text-decoration: none;
    font-family: "Raleway", serif;
    color: #333;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    
}

.navbar li a:hover{
    color: #ed1e79;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/* list item style */

.services {
    text-align: center;
    margin-top: 80px;
}

.services ul {
    color: #fff;
    display: inline-block;
    text-align: center;
    list-style-type: none;
    
}

.services ul li {
    font-family: "Raleway", serif;
    text-align: center;
    font-size: 32px;
}

.services ul li::before {
    content: "• "; /* Custom bullet */
    font-size: 24px;
    margin-right: 5px;
}

.logo {
    float: left;
}


/* Sections */

.portfolio {
    text-align: center;
    margin: 150px 0 150px 0;
}

.port p {
    font-size: 24px;
}

.portfolio-cards-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.portfolio-cards-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    text-align: center;
    margin-bottom: 40px;
   
}

.portfolio h2 {
    text-align: center;
}

.port-btn {
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    padding: 12px 30px 12px 30px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
}





/* Contact */

.contact {
    text-align: center;
    margin-top: 100px;
}

.email-btn {
    text-align: center;
    background-color: #58595b;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 16px 30px 16px 30px;
    border: none;
    cursor: pointer;
}


/* Footer */

footer {
    margin-top: 150px;
}

footer p {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}
